@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.button {
    padding: 4px 20px;
    color: white;
    border-radius: 20px;
    background: linear-gradient(180deg, rgb(41, 62, 156), #ab9e9e); 
    transition: .2s opacity;
}

.button:hover {
    opacity: .8;
    transition: .2s opacity;
    cursor: pointer;
}

.card {
    height: 300px;
    width: 350px;
    background-color: rgba(128, 128, 128, 0.46);
    border-radius: 10px;
}